In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [49]:
telecom_data = pd.read_csv('telecom_churn_data.csv')
telecom_data

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.40,0.00,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.00,0.00,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.00,0.00,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.00,0.00,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,7001548952,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,18.471,...,0,NaN,NaN,NaN,NaN,3199,0.00,0.00,0.00,0.00
99995,7000607688,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,112.201,...,0,NaN,NaN,NaN,NaN,2052,0.00,0.00,0.00,0.00
99996,7000087541,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,229.187,...,0,1.0,NaN,NaN,NaN,185,0.00,0.00,0.00,0.00
99997,7000498689,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,322.991,...,0,1.0,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.00
99998,7001905007,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,687.065,...,0,1.0,NaN,NaN,NaN,751,0.00,0.00,0.00,0.00

In [16]:
print(telecom_data.head())

   mobile_number  circle_id  loc_og_t2o_mou  std_og_t2o_mou  loc_ic_t2o_mou  \
0     7000842753        109             0.0             0.0             0.0
1     7001865778        109             0.0             0.0             0.0
2     7001625959        109             0.0             0.0             0.0
3     7001204172        109             0.0             0.0             0.0
4     7000142493        109             0.0             0.0             0.0

  last_date_of_month_6 last_date_of_month_7 last_date_of_month_8  \
0            6/30/2014            7/31/2014            8/31/2014
1            6/30/2014            7/31/2014            8/31/2014
2            6/30/2014            7/31/2014            8/31/2014
3            6/30/2014            7/31/2014            8/31/2014
4            6/30/2014            7/31/2014            8/31/2014

  last_date_of_month_9   arpu_6  ...  sachet_3g_9  fb_user_6  fb_user_7  \
0            9/30/2014  197.385  ...            0        1.0        1.0
1            9/30/2014   34.047  ...            0        NaN        1.0
2            9/30/2014  167.690  ...            0        NaN        NaN
3            9/30/2014  221.338  ...            0        NaN        NaN
4            9/30/2014  261.636  ...            0        0.0        NaN

   fb_user_8  fb_user_9   aon  aug_vbc_3g  jul_vbc_3g  jun_vbc_3g  sep_vbc_3g
0        1.0        NaN   968        30.4         0.0      101.20        3.58
1        1.0        NaN  1006         0.0         0.0        0.00        0.00
2        NaN        1.0  1103         0.0         0.0        4.17        0.00
3        NaN        NaN  2491         0.0         0.0        0.00        0.00
4        NaN        NaN  1526         0.0         0.0        0.00        0.00

[5 rows x 226 columns]

In [17]:
telecom_data.shape

(99999, 226)

In [18]:
print(telecom_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB
None

In [19]:
print(telecom_data.isnull().sum())

mobile_number        0
circle_id            0
loc_og_t2o_mou    1018
std_og_t2o_mou    1018
loc_ic_t2o_mou    1018
                  ...
aon                  0
aug_vbc_3g           0
jul_vbc_3g           0
jun_vbc_3g           0
sep_vbc_3g           0
Length: 226, dtype: int64

In [11]:
print(tele.describe())

       mobile_number  circle_id  loc_og_t2o_mou  std_og_t2o_mou  \
count   9.999900e+04    99999.0         98981.0         98981.0
mean    7.001207e+09      109.0             0.0             0.0
std     6.956694e+05        0.0             0.0             0.0
min     7.000000e+09      109.0             0.0             0.0
25%     7.000606e+09      109.0             0.0             0.0
50%     7.001205e+09      109.0             0.0             0.0
75%     7.001812e+09      109.0             0.0             0.0
max     7.002411e+09      109.0             0.0             0.0

       loc_ic_t2o_mou        arpu_6        arpu_7        arpu_8        arpu_9  \
count         98981.0  99999.000000  99999.000000  99999.000000  99999.000000
mean              0.0    282.987358    278.536648    279.154731    261.645069
std               0.0    328.439770    338.156291    344.474791    341.998630
min               0.0  -2258.709000  -2014.045000   -945.808000  -1899.505000
25%               0.0     93.411500     86.980500     84.126000     62.685000
50%               0.0    197.704000    191.640000    192.080000    176.849000
75%               0.0    371.060000    365.344500    369.370500    353.466500
max               0.0  27731.088000  35145.834000  33543.624000  38805.617000

        onnet_mou_6  ...   sachet_3g_9     fb_user_6     fb_user_7  \
count  96062.000000  ...  99999.000000  25153.000000  25571.000000
mean     132.395875  ...      0.084581      0.914404      0.908764
std      297.207406  ...      0.650457      0.279772      0.287950
min        0.000000  ...      0.000000      0.000000      0.000000
25%        7.380000  ...      0.000000      1.000000      1.000000
50%       34.310000  ...      0.000000      1.000000      1.000000
75%      118.740000  ...      0.000000      1.000000      1.000000
max     7376.710000  ...     49.000000      1.000000      1.000000

          fb_user_8     fb_user_9           aon    aug_vbc_3g    jul_vbc_3g  \
count  26339.000000  25922.000000  99999.000000  99999.000000  99999.000000
mean       0.890808      0.860968   1219.854749     68.170248     66.839062
std        0.311885      0.345987    954.733842    267.580450    271.201856
min        0.000000      0.000000    180.000000      0.000000      0.000000
25%        1.000000      1.000000    467.000000      0.000000      0.000000
50%        1.000000      1.000000    863.000000      0.000000      0.000000
75%        1.000000      1.000000   1807.500000      0.000000      0.000000
max        1.000000      1.000000   4337.000000  12916.220000   9165.600000

         jun_vbc_3g    sep_vbc_3g
count  99999.000000  99999.000000
mean      60.021204      3.299373
std      253.938223     32.408353
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.000000      0.000000
75%        0.000000      0.000000
max    11166.210000   2618.570000

[8 rows x 214 columns]

In [20]:
# Displaying the customer phone numbers
customer_phone_numbers = telecom_data['mobile_number']
print(customer_phone_numbers)

0        7000842753
1        7001865778
2        7001625959
3        7001204172
4        7000142493
            ...
99994    7001548952
99995    7000607688
99996    7000087541
99997    7000498689
99998    7001905007
Name: mobile_number, Length: 99999, dtype: int64

In [21]:
# Displaying customer phone numbers along with their telecom circle areas
customer_circle_data = telecom_data[['mobile_number', 'circle_id']]
print(customer_circle_data)

       mobile_number  circle_id
0         7000842753        109
1         7001865778        109
2         7001625959        109
3         7001204172        109
4         7000142493        109
...              ...        ...
99994     7001548952        109
99995     7000607688        109
99996     7000087541        109
99997     7000498689        109
99998     7001905007        109

[99999 rows x 2 columns]

In [23]:
# Displaying local calls data with phone numbers and circle IDs
#This will show:
#mobile_number: Customer phone number.
#circle_id: Telecom circle ID.
#loc_og_t2o_mou: Minutes of usage for local outgoing calls.
#loc_ic_t2o_mou: Minutes of usage for local incoming calls.

local_calls_data = telecom_data[['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'loc_ic_t2o_mou']]
print(local_calls_data)

       mobile_number  circle_id  loc_og_t2o_mou  loc_ic_t2o_mou
0         7000842753        109             0.0             0.0
1         7001865778        109             0.0             0.0
2         7001625959        109             0.0             0.0
3         7001204172        109             0.0             0.0
4         7000142493        109             0.0             0.0
...              ...        ...             ...             ...
99994     7001548952        109             0.0             0.0
99995     7000607688        109             0.0             0.0
99996     7000087541        109             0.0             0.0
99997     7000498689        109             0.0             0.0
99998     7001905007        109             0.0             0.0

[99999 rows x 4 columns]

In [25]:
# Displaying STD calls data with phone numbers and circle IDs
std_calls_data = telecom_data[['mobile_number', 'circle_id', 'std_og_t2o_mou']]
print(std_calls_data)

       mobile_number  circle_id  std_og_t2o_mou
0         7000842753        109             0.0
1         7001865778        109             0.0
2         7001625959        109             0.0
3         7001204172        109             0.0
4         7000142493        109             0.0
...              ...        ...             ...
99994     7001548952        109             0.0
99995     7000607688        109             0.0
99996     7000087541        109             0.0
99997     7000498689        109             0.0
99998     7001905007        109             0.0

[99999 rows x 3 columns]

In [27]:
# Displaying incoming calls data with phone numbers and circle IDs
incoming_calls_data = telecom_data[['mobile_number', 'circle_id', 'loc_ic_t2o_mou']]
print(incoming_calls_data)

       mobile_number  circle_id  loc_ic_t2o_mou
0         7000842753        109             0.0
1         7001865778        109             0.0
2         7001625959        109             0.0
3         7001204172        109             0.0
4         7000142493        109             0.0
...              ...        ...             ...
99994     7001548952        109             0.0
99995     7000607688        109             0.0
99996     7000087541        109             0.0
99997     7000498689        109             0.0
99998     7001905007        109             0.0

[99999 rows x 3 columns]

In [28]:
# Displaying T-to-T calls data (within the same operator)
t_to_t_calls_data = telecom_data[['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou']]
print(t_to_t_calls_data)

       mobile_number  circle_id  loc_og_t2o_mou  std_og_t2o_mou
0         7000842753        109             0.0             0.0
1         7001865778        109             0.0             0.0
2         7001625959        109             0.0             0.0
3         7001204172        109             0.0             0.0
4         7000142493        109             0.0             0.0
...              ...        ...             ...             ...
99994     7001548952        109             0.0             0.0
99995     7000607688        109             0.0             0.0
99996     7000087541        109             0.0             0.0
99997     7000498689        109             0.0             0.0
99998     7001905007        109             0.0             0.0

[99999 rows x 4 columns]

In [30]:
# Displaying outgoing calls to other operators (mobile to mobile on different networks)
other_operator_calls_data = telecom_data[['mobile_number', 'circle_id']]
print(other_operator_calls_data)

       mobile_number  circle_id
0         7000842753        109
1         7001865778        109
2         7001625959        109
3         7001204172        109
4         7000142493        109
...              ...        ...
99994     7001548952        109
99995     7000607688        109
99996     7000087541        109
99997     7000498689        109
99998     7001905007        109

[99999 rows x 2 columns]

In [32]:
# Displaying outgoing calls to other operators' fixed lines
other_operator_fixed_line_calls_data = telecom_data[['mobile_number', 'circle_id']]
print(other_operator_fixed_line_calls_data)

       mobile_number  circle_id
0         7000842753        109
1         7001865778        109
2         7001625959        109
3         7001204172        109
4         7000142493        109
...              ...        ...
99994     7001548952        109
99995     7000607688        109
99996     7000087541        109
99997     7000498689        109
99998     7001905007        109

[99999 rows x 2 columns]

In [ ]:
#Indicates that customer is in roaming zone during the call

In [88]:
roaming_calls = telecom_data[telecom_data['roam_ic_mou_6'] == 1].shape[0]
print(f"Total Roaming Calls: {roaming_calls}")

Total Roaming Calls: 24

In [91]:
roaming_calls = telecom_data[telecom_data['roam_ic_mou_7'] == 1].shape[0]
print(f"Total Roaming Calls: {roaming_calls}")

Total Roaming Calls: 20

In [90]:
roaming_calls = telecom_data[telecom_data['roam_ic_mou_8'] == 1].shape[0]
print(f"Total Roaming Calls: {roaming_calls}")

Total Roaming Calls: 20

In [89]:
roaming_calls = telecom_data[telecom_data['roam_ic_mou_9'] == 1].shape[0]
print(f"Total Roaming Calls: {roaming_calls}")

Total Roaming Calls: 19

In [ ]:
#Average Revenue Per User (ARPU)

In [38]:
arpu_mean = telecom_data[['arpu_6', 'arpu_7', 'arpu_8', 'arpu_9']].mean()
print("Average Revenue Per User (ARPU):")
print(arpu_mean)

Average Revenue Per User (ARPU):
arpu_6    282.987358
arpu_7    278.536648
arpu_8    279.154731
arpu_9    261.645069
dtype: float64

In [39]:
total_voice_usage = telecom_data['loc_og_t2o_mou'] + telecom_data['std_og_t2o_mou'] + telecom_data['loc_ic_t2o_mou']
print(f"Total Voice Usage (minutes): {total_voice_usage.sum()}")

Total Voice Usage (minutes): 0.0

In [40]:
average_aon = telecom_data['aon'].mean()
print(f"Average Age on Network (days): {average_aon}")

Average Age on Network (days): 1219.8547485474855

In [41]:
within_network = telecom_data['loc_og_t2o_mou'].sum() + telecom_data['loc_ic_t2o_mou'].sum()
outside_network = telecom_data['std_og_t2o_mou'].sum()
print(f"Total Calls Within Network (minutes): {within_network}")
print(f"Total Calls Outside Network (minutes): {outside_network}")

Total Calls Within Network (minutes): 0.0
Total Calls Outside Network (minutes): 0.0

In [ ]:
#TOTAL RECHARGES

In [52]:
average_3g_usage = telecom_data['sachet_3g_9'].mean() 
average_2g_usage = telecom_data['sachet_2g_9'].mean() 
print(f"Average Mobile Internet Usage (3G): {average_3g_usage} MB")
print(f"Average Mobile Internet Usage (2G): {average_2g_usage} MB")

Average Mobile Internet Usage (3G): 0.08458084580845808 MB
Average Mobile Internet Usage (2G): 0.3931039310393104 MB

In [56]:
total_recharge = telecom_data['total_rech_data_6'].sum() 
print(f"Total Recharge Amount: {total_recharge}")

Total Recharge Amount: 61972.0

In [57]:
total_recharge = telecom_data['total_rech_data_7'].sum() 
print(f"Total Recharge Amount: {total_recharge}")

Total Recharge Amount: 68183.0

In [58]:
total_recharge = telecom_data['total_rech_data_8'].sum()  
print(f"Total Recharge Amount: {total_recharge}")

Total Recharge Amount: 69851.0

In [59]:
total_recharge = telecom_data['total_rech_data_9'].sum()  
print(f"Total Recharge Amount: {total_recharge}")

Total Recharge Amount: 63280.0

In [61]:
total_recharge = telecom_data['max_rech_data_6'].sum()  
print(f"Total Recharge Amount: {total_recharge}")

Total Recharge Amount: 3179173.0

In [62]:
total_recharge = telecom_data['max_rech_data_7'].sum()  
print(f"Total Recharge Amount: {total_recharge}")

Total Recharge Amount: 3240599.0

In [63]:
total_recharge = telecom_data['max_rech_data_8'].sum()  
print(f"Total Recharge Amount: {total_recharge}")

Total Recharge Amount: 3311268.0

In [64]:
total_recharge = telecom_data['max_rech_data_9'].sum()  
print(f"Total Recharge Amount: {total_recharge}")

Total Recharge Amount: 3238732.0

In [ ]:
#Scheme to use during specific night hours only

In [67]:
night_hour_schemes = telecom_data[telecom_data['night_pck_user_6'] == 1].shape[0] 
monthly_validity_schemes = telecom_data[telecom_data['monthly_2g_6'] == 1].shape[0]  
print(f"Total Night Hour Schemes: {night_hour_schemes}")
print(f"Total Monthly Validity Schemes: {monthly_validity_schemes}")

Total Night Hour Schemes: 631
Total Monthly Validity Schemes: 6728

In [68]:
night_hour_schemes = telecom_data[telecom_data['night_pck_user_7'] == 1].shape[0] 
monthly_validity_schemes = telecom_data[telecom_data['monthly_2g_7'] == 1].shape[0]  
print(f"Total Night Hour Schemes: {night_hour_schemes}")
print(f"Total Monthly Validity Schemes: {monthly_validity_schemes}")

Total Night Hour Schemes: 589
Total Monthly Validity Schemes: 6855

In [69]:
night_hour_schemes = telecom_data[telecom_data['night_pck_user_8'] == 1].shape[0] 
monthly_validity_schemes = telecom_data[telecom_data['monthly_2g_8'] == 1].shape[0]  
print(f"Total Night Hour Schemes: {night_hour_schemes}")
print(f"Total Monthly Validity Schemes: {monthly_validity_schemes}")

Total Night Hour Schemes: 549
Total Monthly Validity Schemes: 6775

In [70]:
night_hour_schemes = telecom_data[telecom_data['night_pck_user_9'] == 1].shape[0] 
monthly_validity_schemes = telecom_data[telecom_data['monthly_2g_9'] == 1].shape[0]  
print(f"Total Night Hour Schemes: {night_hour_schemes}")
print(f"Total Monthly Validity Schemes: {monthly_validity_schemes}")

Total Night Hour Schemes: 414
Total Monthly Validity Schemes: 5695

In [ ]:
#KPI for the month of June

In [73]:
kpi_june = telecom_data['arpu_6'].mean()
kpi_july = telecom_data['arpu_7'].mean()
kpi_august = telecom_data['arpu_8'].mean()
kpi_september = telecom_data['arpu_9'].mean()
print(f"KPIs: June - {kpi_june}, July - {kpi_july}, August - {kpi_august}, September - {kpi_september}")

KPIs: June - 282.98735844358447, July - 278.53664810648104, August - 279.1547314573146, September - 261.6450692706928

In [ ]:
#Service scheme to avail services of Facebook and similar social networking sites

In [75]:
social_scheme_count = telecom_data[telecom_data['fb_user_6'] == 1].shape[0]
print(f"Total Users Availing Social Networking Schemes: {social_scheme_count}")

Total Users Availing Social Networking Schemes: 23000

In [76]:
social_scheme_count = telecom_data[telecom_data['fb_user_7'] == 1].shape[0]
print(f"Total Users Availing Social Networking Schemes: {social_scheme_count}")

Total Users Availing Social Networking Schemes: 23238

In [77]:
social_scheme_count = telecom_data[telecom_data['fb_user_8'] == 1].shape[0]
print(f"Total Users Availing Social Networking Schemes: {social_scheme_count}")

Total Users Availing Social Networking Schemes: 23463

In [78]:
social_scheme_count = telecom_data[telecom_data['fb_user_9'] == 1].shape[0]
print(f"Total Users Availing Social Networking Schemes: {social_scheme_count}")

Total Users Availing Social Networking Schemes: 22318

In [ ]:
#Volume based cost - when no specific scheme is not purchased and paid as per usage

In [84]:
volume_based_cost = telecom_data[telecom_data['fb_user_6'] == 1]['jun_vbc_3g'].sum()  
print(f"Total Volume-Based Cost: {volume_based_cost}")

Total Volume-Based Cost: 5295354.13

In [85]:
volume_based_cost = telecom_data[telecom_data['fb_user_7'] == 1]['jul_vbc_3g'].sum()  
print(f"Total Volume-Based Cost: {volume_based_cost}")

Total Volume-Based Cost: 5891777.4

In [86]:
volume_based_cost = telecom_data[telecom_data['fb_user_8'] == 1]['aug_vbc_3g'].sum()
print(f"Total Volume-Based Cost: {volume_based_cost}")

Total Volume-Based Cost: 5956569.14

In [87]:
volume_based_cost = telecom_data[telecom_data['fb_user_9'] == 1]['sep_vbc_3g'].sum()  
print(f"Total Volume-Based Cost: {volume_based_cost}")

Total Volume-Based Cost: 279114.32